<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="bg depop">
        <h2>Filtrer les livres : </h2>
        <form>
            <label>Par Genre : </label>
            <input type="radio" name="toggleGroup" value="genre"></input>
            <input type="option"></input><br>

            <label>Par Auteur : </label>
            <input type="radio" name="toggleGroup" value="auteur"></input>
            <input type="option"></input><br>

            <label>Par Type : </label>
            <input type="radio" name="toggleGroup" value="type"></input>
            <input type="option"></input><br>

            <label>Aucun filtre : </label>
            <input checked type="radio" name="toggleGroup" value="none"></input>

            <h2>Classer les livres : </h2>

            <label>Alphabetique : </label>
            <input checked type="radio" name="toggleGroup2" value="Alphabetique"></input>
            <br>

            <label>Par date : </label>
            <input type="radio" name="toggleGroup2" value="date"></input>
            <br>

            <label>Par Note : </label>
            <input type="radio" name="toggleGroup2" value="Note"></input><br><br>

            <span>Décroissant :</span> <input type="checkbox"></input>
        </form>

    </div>
</body>
</html>